.buttonspaced{
  margin-left:5px;
}

.login-form-element
{
    margin-bottom:6px;
}

.dropdown-login{
    width: 300px !important;
}

.content {
  padding-top: 60px !important;
  padding-bottom: 160px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
    padding-top: 40px;
}

/* Rimuove la scrollbar */
.locked-y{
    overflow-y: hidden;
}

.vertical-center {
    margin-top: 30vh;
    align-items: center;
}

/* Sliders */
.slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    border-radius: 5px;
    margin-top: 7px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Arrotonda la box a cui è applicata */
.smooth{
    background: #d3d3d3; /* Grey background */
    width: 100%;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    border-radius: 5px;
}




